body {
    padding: 30px 30% 0px;
}

footer.box {
    margin: 20px 10%;
}

.box {
    border: 1px solid;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 20px 15%;
}



.right {
    text-align: right;
}
